.board {
  height: 100%;
  width: 100%;
  display: flex;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.player {
  flex-grow: 1;
}

.tabletop {
  width: 50%;
}

.hand {
  display: flex;
  margin-top: 20px;
}

.card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 120px;
  width: 90px;
  border-radius: 0.3em;
  box-shadow: 2px -1px 7px #333;
  font-size: 2em;
  background-color: #BBB;

  &:first-child {
    margin-left: 100px;
  }
}

.upper-card-number {
  position: absolute;
  top: 0px;
  left: 5px;
}

.lower-card-number {
  position: absolute;
  right: 5px;
  bottom: 0px;
}
