@import '../constants.scss';


.hint-container {
  margin: 3px;
  height: 41px;
  width: 41px;
}

.hint {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-shadow: 2px -1px 5px $boxShadowColor;
  background-color: $cardColor;
}

.used-hint {
  background-color: $cardColorDark;
}

.remaining-hint {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  color: purple;
  cursor: pointer;

  &:hover {
    height: 41px;
    width: 41px;
    box-shadow: 2px -1px 15px $boxShadowColor;
    background-color: $cardColorBright;
  }

  &:hover:active {
    transform: translateX(1px) translateY(1px);
  }
}
