@import './components/app.scss';
@import './components/page.scss';
@import './components/game.scss';
@import './components/hint.scss';
@import './components/niceButton.scss';


/* background */

html {
  background: url('./felt-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* font and color */

html {
  color: #333;
}

* {
  font-family: 'Lobster', cursive;
}

/* everything use border-box */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* outer containers fill the screen */

html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
